.home-container {

    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Alinea las tarjetas más arriba */
    margin-top: 50px; /* Ajusta la distancia desde arriba de la página */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio */
  }
  
  .card {
    background-color: #f1ecec;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
  }
  
  .card-1 {
    background-color: aquamarine;
    position: relative;
    margin-bottom: 10px; /* Ajusta el margen inferior de la tarjeta 1 */
    left: 200px;
    margin-top: 10px;
    background-color: #9e2b2b;
  }
  
  .card-2 {
    margin-top: 10px; /* Ajusta el margen superior de la tarjeta 2 */
    margin-bottom: 10px; /* Ajusta el margen inferior de la tarjeta 2 */
    left: 100px;
  }
  
  .card-3 {
    margin-top: 10px; /* Ajusta el margen superior de la tarjeta 3 */
  }
  